* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #e9eef3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-box {
    background-color: #ffffff;
    width: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}


.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ff6b5c;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}


.login-box button:hover {
    background-color: #e25549;
}
